@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Web App with App Insights Integrated</h3>
    <p>Application Insights is an extension of Azure Monitor and provides Application 
    Performance Monitoring (also known as “APM”) features. </p>
</div>
